/* FONTS */
@font-face {
  font-family: "Gilroy-Medium";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Bold.woff") format("woff"),
    url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* STYLES */
.container {
  width: 944px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  border-bottom: 1px solid #828282;
}

.button-menu {
  display: none;
  margin: 0 auto;
  background-color: #ffffff;
  border: none;
  font-family: Gilroy-Bold;
  font-size: 25px;
  cursor: pointer;
}

.close-menu-button {
  display: none;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list-item {
  margin-top: 33px;
  margin-bottom: 32px;
}

.list-item-bg {
  background-color: #ffffff;
}

.nav-link {
  text-decoration: none;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  transition: color 0.4s;
  color: #828282;
}

.nav-link:hover {
  color: black;
}

/* HERO */
.designer-info {
  display: flex;
  justify-content: space-between;
}

.designer-name {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 31px;
  max-width: 123px;
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.info {
  margin: 0;
  margin-top: 100px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.info-mobile {
  display: none;
}

.language-switch {
  margin: 0;
  padding-top: 45px;
  margin-top: 75px;
  width: 65px;
  height: 20px;
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  transform: rotate(-90deg);
}

.menu-language-switch {
  display: none;
}

.photo {
  width: 100%;
}

/* CONTENT */
.content {
  margin-top: 104px;
}

.grey-background {
  background-color: #f6f6f6;
  width: 100%;
}

/* ABOUT */
.about-wrapper {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 107px;
}

.about-title {
  margin-bottom: 18px;
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.about-text-wrapper {
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text-wrapper-mobile {
  display: none;
}

.about-text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

/* SKILLS */
.skills-wrapper {
  padding-top: 91px;
  padding-bottom: 110px;
  text-align: center;
}

.skills-title {
  font-family: Gilroy-bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 61px;
}

.skills-text {
  display: block;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-bottom: 83px;
}

.programs-wrapper {
  display: flex;
  justify-content: space-between;
}

.program-wrapper {
  width: 166px;
  display: flex;
  flex-direction: column;
}

.program-image {
  margin-bottom: 24px;
  height: 81px;
}

.program-name {
  height: 27px;
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 47px;
}

.stars {
  display: flex;
  justify-content: space-between;
}

/* PORTFOLIO */
.portfolio-wrapper {
  padding-top: 113px;
  padding-bottom: 1px;
  text-align: center;
}

.portfolio-title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 47px;
}

.project-name {
  display: block;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-top: 45px;
  margin-bottom: 99px;
}

.project-image {
  width: 100%;
}

/* FOOTER */
.footer {
  text-align: center;
  padding-top: 114px;
  padding-bottom: 123px;
}

.footer-title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 20px;
}

.footer-text {
  display: block;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-bottom: 30px;
}

.footer-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 86px;
  width: 180.5px;
  height: 42px;
  border: none;
  background-color: #070707;
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
}

.social-link:not(:last-child) {
  margin-right: 61px;
}

.socials-wrapper {
  margin-bottom: 46px;
}

.socials-text {
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
/* MEDIAS */
@media (max-width: 996px) {
  .container {
    width: 90%;
  }

  .program-wrapper {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .program-wrapper {
    width: 110px;
  }

  .program-wrapper svg {
   width: 18px;
   height: 16px;
  }

  .program-name {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .programs-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .program-wrapper {
    width: 150px;
  }

  .program-wrapper svg {
   width: 22px;
   height: 20пшеpx;
  }

  .program-wrapper:not(:last-child) {
    margin-bottom: 80px;
  }

  .program-image {
    margin-bottom: 10px;
  }

  .program-name {
    margin-bottom: 20px;
  }

  .designer-photo {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .photo {
    position: absolute;
    height: 300px;
    object-fit: cover;
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
    transform: translateY(-101%);
  }

  .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin: 0;
    width: 100%;
    height: 85px;
  }

  .for-list-item-bg {
    width: 100%;
  }

  .list-item-bg {
    background-color: #f6f6f6;
  }

  .nav-link {
    font-size: 25px;
  }

  .close-menu-button {
    display: block;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    cursor: pointer;
  }

  .close-menu-icon {
    width: 25px;
    height: 25px;
  }

  .menu-language-switch {
    display: block;
    margin: 0;
    font-family: Gilroy-Bold;
    font-size: 38px;
    line-height: 20px;
    color: #828282;
    position: absolute;
    bottom: 40px;
  }

  .is-open {
    transform: translateY(0);
  }

  .language-switch {
    display: none;
  }

  .button-menu {
    display: block;
    margin: 20px auto;
  }

  .info {
    display: none;
  }

  .designer-name {
    max-width: 300px;
  }

  .designer-info {
    justify-content: center;
  }

  .info-mobile {
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 40px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
  }

  .content {
    margin-top: 60px;
  }

  .social-link:not(:last-child) {
    margin-right: 13%;
  }

  .about-text-wrapper {
    display: none;
  }

  .about-text-wrapper-mobile {
    display: block;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-wrapper {
    padding-top: 91px;
  }
}
